#imghead {
    width: min-content;
}

body {}

div p {
    float: left;
    align-content: center;
    position: relative;
}

#menu {
    position: relative;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {}

li {
    margin: 5px auto;
    list-style: none;
    position: relative;
    border-radius: 15px;
    float: right;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

#wasap {
    position: fixed;
    float: right;
}

#titulo {
    text-align: center;
    margin: 200px
}

#titulo a {
    background-color: #5cb8ff;
}